.jumbotron_panotraces {
    background: #000 url("../images/panotraces.jpg") repeat scroll center center / cover;
    color: #70176e;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

#footer-area {
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 95%;
}

.list-group a:hover {
    text-decoration: none;
}

#form-wrapper {
    background-color: #e7e7e7;
}

.terms-accept {
    max-width: 250px;
    margin: 15px auto;
    font-size: 13px;
    line-height: 16px;
    color: #aaa;
    text-align: center;
}

.form-pano > input, .well input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.well input {
    padding-top: 10px;
}
