<div ng-controller="EventsController">
Events
<div ng-repeat="event in events">
    <div style="margin-left: 20px;">
        name: {{ event.name }} <br/>
        organizer_name: {{ event.organizer_name }} <br/>
        category: {{ event.category }} <br/>
        list_of_attendees: {{ event.list_of_attendees }} <br/>
        number_of_attendees: {{ event.number_of_attendees }} <br/>
        <hr/>
    </div>
</div>
</div>
